<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
    <title>My Amazona Shop</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Amazona Shop</a>
            </div>
            <div class="header-link">
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>

        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img  class="product-image" src="../template/images/d1.jpg" alt="Product one">
                            <div class="product-name"><a href="#">Slim-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">All rights are reserved.</footer>
    </div>

</body>

</html>