.App {
  text-align: center;
}
.App-header {
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.warning {
  background-color: rgb(77, 77, 9);
  text-align: center;
  width: 100%;
  padding: 10px;

  font-size: 14pt;
  color: white;
}
